* {background-color: white;

}
body{
  height: 100%;
  width: 100%;
}

header{

  height: 10%;
  width: 100%;
  background-color: yellow;
}

h1 {
  text-align: center;
}

.column-1{
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  border: 2px black solid;
  padding: 1%;
  display: inline-block;
  width: 42%;
  height: 70%
  float:left;
  background-color: blue;
}

.column-2{
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
  padding: 1%;
  border: 2px black solid;
  display: inline-block;
  width: 42%;
  height: 70%;
  float:right;
  background-color: red;
}

footer {
  height: 10%;
  width: 100%;
  bottom: 0;
  background-color: green;
}